<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OneSignalAppID</key>
	<string>a1766750-0368-4d24-b589-1f45733df3be</string>
	<key>AdMobBannerUnitId</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AdMobInterstitialUnitId</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
</dict>
</plist>
